#hud {
    display: inline-block;
    position: absolute;
    height: 640px;
    background: #cccccc;
}

.hud-column {
    float: left;
    overflow: hidden;
}

.hud-tile {
    display: block;
    margin: 5px;
    background: #ffffff;
    overflow: hidden;
}

.paperdoll-tile {
    width: 128px;
    height: 196px;
    background: #ffffff;
}

.paperdoll canvas {
    position: relative;
    left: -64px;
    top: -32px;
}

.stats-tile {
    width: 256px;
}
.stats-hud ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.debug-tile {
    width: 256px;
}
.debug-hud ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.resources-tile {
    width: 256px;
}
.resources-hud ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}
.resources-hud .moon-pendant-hud {
    position: relative;
    width: 110px;
    height: 30px;
    padding: 10px 0 0 10px;
    background-image: url(../assets/png/hud/MoonPendantHUD.png);
}
.resources-hud .moon-pendant-hud-item {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
    display: inline-block;
    visibility: hidden;
}
.resources-hud .moon-pendant-hud-item.resource-acquired {
    visibility: visible;
}
.resources-hud .moon-pendant-hud-item.moonPendantGreen {
    background-image: url(../assets/png/items/MoonPendantGreen.png);
}
.resources-hud .moon-pendant-hud-item.moonPendantOrange {
    background-image: url(../assets/png/items/MoonPendantOrange.png);
}
.resources-hud .moon-pendant-hud-item.moonPendantRed {
    background-image: url(../assets/png/items/MoonPendantRed.png);
}
.resources-hud .moon-pendant-hud-item.moonPendantBlue {
    background-image: url(../assets/png/items/MoonPendantBlue.png);
}

.item-inspector-tile {
    width: 256px;
    height: 590px;
}

.item-inspector-hud p,
.item-inspector-hud ul {
    margin: 0;
}
.item-inspector-hud .equipped {
    position: relative;
    width: 246px;
    height: 180px;
    margin: 5px;
    background: #cccccc;
}

.item-inspector-hud .inspected {
    position: relative;
    width: 246px;
    height: 180px;
    margin: 5px;
    background: #cccccc;
}

.item-inspector-hud .stats-delta {
    position: relative;
    margin: 5px;
}